<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset ="UTF-8">
	<title>NOTEPAD</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
	<script src="script.js"></script>
	<style>
		li{
			border:2px red;
			background-color: #ffebcd;
			margin: 0 20vw 5vh 20vw ;
			box-shadow: 2px 2px #dfc68c;
		}
	</style>
</head>
<body ng-app="mainApp" ng-controller="app">
	<h1 style='text-align:center'>NotePad</h1>
	<center>
	<span><textarea ng-model='task' value="" rows="7" cols="200" style='margin:0 auto; padding:5px; background-color: #ffebcd;  border: 2px solid #dfc68c;
  border-radius: 5px; font-size: 15px; width:1000px'></textarea><button ng-click="add1()" style="cursor:pointer;"><i class=" fa fa-plus-circle"></i></button></span>
	<div id="tasksToShow">
		<ul>
			<li ng-repeat="oneTask in tasks track by $index" style="list-style-type: none">
			<span>
				{{oneTask.task}}<button ng-click="cancelClass(oneTask)" style="background-color: transparent; float:right; cursor:pointer"><i class="fa fa-times"></i></button>
			</span>
			</li>
		</ul>
	</div>
</center>
</body>
</html>